#canvas-main {
	z-index: 0;
    position: absolute;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#canvas-top {
	z-index: 2;
    position: absolute;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#canvas-anim {
	z-index: 1;
    position: absolute;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}